.Dog {
    --gifShadow-size : var(--gridList-gap, 6px);
    margin-bottom: .5em;
    position: relative;
  }
  
  .Dog-buttons {
    position: absolute;
    top: 8px;
    right: 8px;
    z-index: 1;
  }
  
  .Dog-link {
    color: #000;
    display: block;
    text-decoration: none;
    position: relative;
    width: 100%;
  }
  
  .Dog h4 {
    background: rgba(0, 0, 0, .3);
    bottom: 0;
    font-size: 12px;
    color: #fff;
    margin: 0;
    position: absolute;
  }
  
  .Dog img {
    width: 100%;
    object-fit: contain;
    vertical-align: top;
  }
  
  i {
    font-size: 80px;
  }
  
  .Dog {
    margin-bottom: 0;
  }
  
  .Dog, .Dog-link {
    height: 100%;
  }
  .Dog-link img {
    height: 50vh; /* 35vh*/
    object-fit: cover;
  }

  .Dog:nth-child(5n + 1) img {
    background-color: var(--brand-color_1);
  }
  .Dog:nth-child(5n + 2) img {
    background-color: var(--brand-color_2);
  }
  .Dog:nth-child(5n + 3) img {
    background-color: var(--brand-color_3);
  }
  .Dog:nth-child(5n + 4) img {
    background-color: var(--brand-color_4);
  }
  .Dog:nth-child(5n + 5) img {
    background-color: var(--brand-color_5);
  }
  
  .Dog:hover:nth-child(5n + 1) {
    box-shadow: 0 0 0 var(--gifShadow-size) var(--brand-color_1);
  }
  .Dog:hover:nth-child(5n + 2) {
    box-shadow: 0 0 0 var(--gifShadow-size) var(--brand-color_2);
  }
  .Dog:hover:nth-child(5n + 3) {
    box-shadow: 0 0 0 var(--gifShadow-size) var(--brand-color_3);
  }
  .Dog:hover:nth-child(5n + 4) {
    box-shadow: 0 0 0 var(--gifShadow-size) var(--brand-color_4);
  }
  .Dog:hover:nth-child(5n + 5) {
    box-shadow: 0 0 0 var(--gifShadow-size) var(--brand-color_5);
  }
  
  .Dog:hover:nth-child(5n + 1) h4 {
      background-color: var(--brand-color_1);
      color: black;
  }
  .Dog:hover:nth-child(5n + 2) h4 {
      background-color: var(--brand-color_2);
      color: black;
  }
  .Dog:hover:nth-child(5n + 3) h4 {
      background-color: var(--brand-color_3);
      color: white;
  }
  .Dog:hover:nth-child(5n + 4) h4 {
      background-color: var(--brand-color_4);
      color: white;
  }
  .Dog:hover:nth-child(5n + 5) h4 {
      background-color: var(--brand-color_5);
      color: black;
  }